.bundle
.DS_Store
/bundle/cache
/config/karabiner/automatic_backups/*
Brewfile.lock.json

# Ignore fish variables
config/fish/fish_variables

# Ignore fisher plubins
/config/fish/plugins/*
!/config/fish/plugins/.keep

# Ignore local claude settings
.claude/settings.local.json
